# import libraries

In [1]:
import os
import pandas as pd

# ข้อมูลรายละเอียดสถานีตรวจวัดคุณภาพอากาศ
## http://air4thai.pcd.go.th/webV3/#/Report

In [2]:
df_station = pd.read_excel('data/datasets/PM2.5(2023).xlsx', sheet_name='รายละเอียดจุดตรวจวัด')  
df_station

,Unnamed: 0,รายละเอียดสถานีตรวจวัดคุณภาพอากาศ,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,ลำดับ,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี
2,NaN,NaN,NaN,NaN,NaN
3,NaN,1,02T,แขวงหิรัญรูจี เขตธนบุรี กทม.,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา
4,NaN,2,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยา
...,...,...,...,...,...
85,NaN,83,63T,ต.สะเตง อ.เมือง จ.ยะลา,สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา
86,NaN,84,78T,ต.เบตง อ.เบตง จ.ยะลา,ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง
87,NaN,85,80T,ต.พิมาน อ.เมือง. จ.สตูล,ศาลากลางจังหวัดสตูล
88,NaN,86,89T,ต.คลัง อ.เมือง จ.นครศรีธรรมราช,ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ
89,NaN,87,93T,ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง,วิทยาลัยสารพัดช่างตรัง

## เนื่องจากข้อมูลไม่ได้อยู่ในรูปแบบที่สามารถนำไปใช้งานได้ จึงต้องทำการ data cleaning

### ลบ 3 rows แรก เนื่องจากสถานนี 02T ควรเป็นสถานีแรกสุด

In [3]:
df_station = df_station.drop([0, 1, 2]).reset_index(drop=True)
df_station

,Unnamed: 0,รายละเอียดสถานีตรวจวัดคุณภาพอากาศ,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,1,02T,แขวงหิรัญรูจี เขตธนบุรี กทม.,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา
1,NaN,2,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยา
2,NaN,3,10T,แขวงคลองจั่น เขตบางกะปิ กทม.,เคหะชุมชนคลองจั่น
3,NaN,4,11T,แขวงดินแดง เขตดินแดง กทม.,สนามกีฬาเคหะชุมชนห้วยขวาง
4,NaN,5,12T,แขวงช่องนนทรี เขตยานนาวา กทม.,โรงเรียนนนทรีวิทยา
...,...,...,...,...,...
82,NaN,83,63T,ต.สะเตง อ.เมือง จ.ยะลา,สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา
83,NaN,84,78T,ต.เบตง อ.เบตง จ.ยะลา,ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง
84,NaN,85,80T,ต.พิมาน อ.เมือง. จ.สตูล,ศาลากลางจังหวัดสตูล
85,NaN,86,89T,ต.คลัง อ.เมือง จ.นครศรีธรรมราช,ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ
86,NaN,87,93T,ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง,วิทยาลัยสารพัดช่างตรัง

### ลบ column Unnamed: 0 และ รายละเอียดสถานีตรวจวัดคุณภาพอากาศ

In [4]:
df_station = df_station.drop(columns=['Unnamed: 0', 'รายละเอียดสถานีตรวจวัดคุณภาพอากาศ '])
df_station

,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,02T,แขวงหิรัญรูจี เขตธนบุรี กทม.,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา
1,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยา
2,10T,แขวงคลองจั่น เขตบางกะปิ กทม.,เคหะชุมชนคลองจั่น
3,11T,แขวงดินแดง เขตดินแดง กทม.,สนามกีฬาเคหะชุมชนห้วยขวาง
4,12T,แขวงช่องนนทรี เขตยานนาวา กทม.,โรงเรียนนนทรีวิทยา
...,...,...,...
82,63T,ต.สะเตง อ.เมือง จ.ยะลา,สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา
83,78T,ต.เบตง อ.เบตง จ.ยะลา,ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง
84,80T,ต.พิมาน อ.เมือง. จ.สตูล,ศาลากลางจังหวัดสตูล
85,89T,ต.คลัง อ.เมือง จ.นครศรีธรรมราช,ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ
86,93T,ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง,วิทยาลัยสารพัดช่างตรัง

### เปลี่ยนชื่อ column ใหม่ให้ดังนี้
- Unnamed: 2 เป็น id
- Unnamed: 3 เป็น location
- Unnamed: 4 เป็น name

In [5]:
df_station.columns = ['id', 'location', 'name']
df_station

     id                        location                                  name
0   02T    แขวงหิรัญรูจี เขตธนบุรี กทม.  มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา
1   05T         แขวงบางนา เขตบางนา กทม.                      กรมอุตุนิยมวิทยา
2   10T    แขวงคลองจั่น เขตบางกะปิ กทม.                     เคหะชุมชนคลองจั่น
3   11T       แขวงดินแดง เขตดินแดง กทม.             สนามกีฬาเคหะชุมชนห้วยขวาง
4   12T   แขวงช่องนนทรี เขตยานนาวา กทม.                    โรงเรียนนนทรีวิทยา
..  ...                             ...                                   ...
82  63T          ต.สะเตง อ.เมือง จ.ยะลา   สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา
83  78T            ต.เบตง อ.เบตง จ.ยะลา     ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง
84  80T         ต.พิมาน อ.เมือง. จ.สตูล                   ศาลากลางจังหวัดสตูล
85  89T  ต.คลัง อ.เมือง จ.นครศรีธรรมราช           ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ
86  93T   ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง                วิทยาลัยสารพัดช่างตรัง

[87 rows x 3 columns]

### แปลง column id ให้เป็นตัวอักษรพิมพ์เล็ก

In [6]:
df_station['id'] = df_station['id'].str.lower()
df_station['id']

0     02t
1     05t
2     10t
3     11t
4     12t
     ...
82    63t
83    78t
84    80t
85    89t
86    93t
Name: id, Length: 87, dtype: object

### หา missing value

In [7]:
df_station.isnull().sum()

id          1
location    0
name        0
dtype: int64

In [8]:
missing_ids = df_station[df_station['id'].isna()]
print(missing_ids)

     id                         location                  name
69  NaN  ต.บ้านต๋อม อ.เมืองพะเยา จ.พะเยา  สนามกีฬาจังหวัดพะเยา

### แทนที่ค่า NaN ใน column id ด้วย '70t'

In [9]:
df_station['id'][69] = '70t'
df_station['id'][69]

'70t'

In [10]:
df_station

     id                        location                                  name
0   02t    แขวงหิรัญรูจี เขตธนบุรี กทม.  มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา
1   05t         แขวงบางนา เขตบางนา กทม.                      กรมอุตุนิยมวิทยา
2   10t    แขวงคลองจั่น เขตบางกะปิ กทม.                     เคหะชุมชนคลองจั่น
3   11t       แขวงดินแดง เขตดินแดง กทม.             สนามกีฬาเคหะชุมชนห้วยขวาง
4   12t   แขวงช่องนนทรี เขตยานนาวา กทม.                    โรงเรียนนนทรีวิทยา
..  ...                             ...                                   ...
82  63t          ต.สะเตง อ.เมือง จ.ยะลา   สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา
83  78t            ต.เบตง อ.เบตง จ.ยะลา     ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง
84  80t         ต.พิมาน อ.เมือง. จ.สตูล                   ศาลากลางจังหวัดสตูล
85  89t  ต.คลัง อ.เมือง จ.นครศรีธรรมราช           ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ
86  93t   ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง                วิทยาลัยสารพัดช่างตรัง

[87 rows x 3 columns]

### Export df_station ออกมาเป็น csv ไฟล์

In [13]:
df_station.to_csv('data/df_station.csv', index=False)

if os.path.exists('data/df_station.csv'):
    print("export success")
else:
    print("export failed")

export success